.showErros {
    color:(41, 12, 12);
    /* background-color: rgb(58, 226, 43); */
    border: 2px solid orange;
    font-size: 12px;
    margin-right: 20px;
    margin-top: -650px;
    margin-left: 300px;
    text-align: center;
    width: 90px;
    /* height: 20px; */
}

.showItem {
    color: darkblue;
}

.showItem:hover {
    background-color: darkgreen;
}