.showLetters {
    border: 2px solid green;
    margin: 10px 100px;
    text-align: center;
    width: 100px; 
}

.showData {
    color: black;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clikedShowData {
    background-color: blue;
    color:indigo;
    font-size: 10px;
}

.showData:hover {
    background-color:red;
    color: orange;
    font-size: 10px;
}

.showMistakes {
    color: darkred;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}